<!-- Form to edit set 1 questions and its weights -->
<label>Question Set 1</label>
<div class="form-group">
    <label for="name">Set 1 Weight</label>
    <input type="text" class="form-control" name="name" ng-model="formData.s1wt">
</div>
<div class="form-group">
    <label for="name">Question 1</label>
    <input type="text" class="form-control" name="name" ng-model="formData.s1q1">
</div>
<div class="form-group">
    <label for="name">Question weight value</label>
    <input type="text" class="form-control" name="name" ng-model="formData.s1q1wt">
</div>

<div class="form-group">
    <label for="email">Question 2</label>
    <input type="text" class="form-control" name="email" ng-model="formData.s1q2">
</div>
<div class="form-group">
    <label for="name">Question weight value</label>
    <input type="text" class="form-control" name="name" ng-model="formData.s1q2wt">
</div>

<div class="form-group">
    <label for="phone">Question 3</label>
    <input type="text" class="form-control" name="name" ng-model="formData.s1q3">
</div>
<div class="form-group">
    <label for="name">Question weight value</label>
    <input type="text" class="form-control" name="name" ng-model="formData.s1q3wt">
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="codescore.set2" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
<br /><br /><br />
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="codescore.finish" class="btn btn-block btn-info">
    Finish <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>